<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    
    <div class="container">
        <div class="mt-4 text-center">
            <h2>ようこそ</h2>
            <p>ジョゼと申します。ただのアニメや漫画やゲームソフトが好きの影響で独学で日本語を覚え始めようとした男です。勉強方法をもって、私の日本語は一貫性がないところもあり、不自然に聞こえるかもしれませんので今のうちにお詫び申し上げます。ご気楽に参加してください。よろしくお願いします。</p>
            <div class="responsive-embed">
                <iframe src="https://player.twitch.tv/?channel=<%= twitchChannel %>&parent=<%= embedParent %>&autoplay=false&muted=true" 
                    frameborder="0" 
                    allowfullscreen="true" 
                    scrolling="no">
                </iframe>
            </div>
            <p>まだ開発中ですので、とりあえず、確認できることはただ全てのゲームのみです。</p>
            <p>目安箱を実装する予定もありますので、提案やおすすめがあれば、その時ぜひお使いください。</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
